.body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.section{
    background-image: url('');

    text-align: center;
    margin: 0 auto;
    padding-top: 100px;
}

.button{
    color: burlywood;
    padding: 15px 20px;
}